<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="utf-8">
  <title>ComeTodo</title>
  <link rel="stylesheet" href="/css/reset.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/css/main.css" type="text/css" charset="utf-8">
</head>

<body>
  <div id="header">
    <img src="/images/logo.png" id="logo">
    <form id="newTodo">
      <input type="text" name="newTodoText" value="" id="newTodoText">
    </form>
  </div>

  {{todo_list}}
  
  <input type="hidden" id="new_event_token" value="{{new_event_token}}">
</body>
<script src="/application.js" charset="utf-8"></script>
<script>
  CT.todo_list_form.init();
  setTimeout(CT.event_handler.startPolling, 300);
</script>
</html>